 body {
 	max-width:60em; /*0 ~ 960px*/
  	margin: 0 auto;
	padding:0;

/*  font-style(1) -weight(2) -size(3) -family(4) */
	font:normal normal 1em/1.5em "Trebuchet MS", Arial, sans-serif;
	
	background: url("images/body-bg.png") -100px bottom fixed no-repeat;

}
* {
	box-sizing:border-box;
} 

/*=========  Clearfix  ==============*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/************ Grid system  ************/

.col-1-3,
.col-2-3,
.col-1-2,
.col-1-4,
.col-1-5 {
  padding: 0 1em;     /*0 top-bottom / 16px L R*/
  float:left;         /* ekki nota display:inline-block -> "white space" */
  vertical-align: top;
/*border: 1px dotted red;*/
}
.col-1-3 {
  width: 100%;
}
.col-2-3 {
  width: 100%;
}
.col-1-2 {
  width: 100%;
}
.col-1-4 {
  width: 100%;
}
.col-1-5 {
  width: 100%;
}
/*****  TYPOGRAPHY  ******/
h1 {
	font-weight: normal;
	font-size: 3em;
	line-height: .8em;
	letter-spacing: .2em;
}
h1,h2,h3 {
	color:#00467f;
}

h4, p, audio, video{
	padding:0;
}
h4 {
	margin-bottom: 0;
	color:#00467f;
}
/******* Layout **********/
hr {
	width: 70%;
	margin: 2em auto;
}

footer {
	padding: .5em 0 5em 0;
}
footer p {		
	margin:0;
	padding:.6em;
	text-align:center;
}

img, video, audio {
	max-width: 100%;
	height: auto;
}
audio {

}
figure{
	margin:0;
	padding: 0;
}
/*myndatexti*/
figcaption {
	font:italic normal .8em Trebuchet MS, Arial, sans-serif;
}
/*áherslutexti*/
blockquote {
	border:1px dashed;
	border-radius: 4px;
	padding:.5em;
	margin:1em;
}
audio {
	
}
ul {
	list-style-image: url('images/takn.png');
}
ul a {
	text-decoration: none;
	font-weight: bold;
	color:#00467f;
}
ul a:hover {
	color: orange;
}
/***************  TABLE  **************/
table {
	border-collapse:collapse; /* table og td borðar falla saman í eina heild */ 
	border: 3px solid #00467f;
	border-width:3px 0; /* tekur út borða hægra og vinstra megin */
	font-size: 0.9em;
	width:95%;
	margin:1em;
	
}
table th {
	background:#ddd;
	border: 1px solid #00467f;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}
table tfoot td {
	text-align:center;
	background:#ddd;
	font-style:italic;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}
table tr {
	height:30px; /* gott að setja hæð á tr tagið */
}
table td {
	background-color:#fff;
	padding:3px;
	border: 1px solid #00467f;
	text-align:center;
	border-width:1px 0; /* tekur út borða hægra og vinstra megin */
}

caption { 
	margin-bottom:.8em;
	text-align:left;
	font-weight:bold;	
}

/* ==============  Helper classes  =============== */

.overhidden{
	overflow:hidden;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.virkur:before {
	color: #D15600;
    content:">>  ";
}
.virk {
	color:#D15600;
	border: 2px inset #999;
}
/*.virk:visited {
	color:#eee;
}*/
.smallp {
	width:12em;
	height:12em;
}
.imgportrett {
	padding: 1em 0 0 2.8em;
}
.txtRight {
	text-align: right;
}
.marginTop2em {
	margin-top: 2em;
}
.marginTop3em {
	margin-top: 3em;
}
.flright {
	float: right;
}
.intro {
	background-color: rgb(201,224,242);
	background-image:url('images/66qoute.png'), url('images/99qoute.png');
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
	padding: 3em;
}

.intro h3 {
	padding: 0 3em;
	text-align: center;
	line-height: 1.6em
}
.topMenu {
	padding: 0;
	width: 80%;
	float: right;
}
.topMenu a {
	text-decoration: none;
	font-weight: bold;
	color:#00467f;
}
.topMenu a:hover {
	color: orange;
}
.padding0 {
	padding: 0;
}
@media screen and (min-width: 60em) {
	.col-1-3 {
	  width: 33.33%;
	}
	.col-2-3 {
	  width: 66.66%;
	}
	.col-1-2 {
	  width: 50%;
	}
	.col-1-4 {
	  width: 25%;
	}
	.col-1-5 {
	  width: 20%;
	}
} /* 60em endar */


/*ekki í notkun --
article {
	background-color: rgba(244,244,244,.7);
	padding:0;
	border-radius:7px;
}
article a {
	color: #00467f;
}
article a:visited{
	text-decoration: none;
}
article a:hover {
	color: #D15600;
	text-decoration: none;
}
aside {
	background-color: rgba(244,244,244,.7);
	padding:0;
	border-radius:7px;
}*/
/*article og aside header letur
article header, aside header {
	height:35px;
	background-color:#00467f;
	border:0;
	border-radius: 8px 8px 0 0;
}
aside header h3, article header h3 {
	font-weight:normal;
	color:#fff;
	padding:0.3em 1em;
	margin:0;
}
article p, aside p {
	color:#444;
}

article ul {
	margin:-1.5em 1em 1em 4em;
}
article footer, aside footer{
	background-color:#aaa;
}
article footer p, aside footer p{
	margin:0;
	padding:0.5em;
	color:#fff;
} */